<div class="resource">
  <canvas class="resource__canvas" #canvas width="60" height="60"></canvas>
  <dl class="resource__props">
    <dt class="resource__prop-name">Name:</dt>
    <dd class="resource__prop-value">{{resource.name}}</dd>
    <dt class="resource__prop-name">Color:</dt>
    <dd class="resource__prop-value">{{resource.color}}</dd>
    <dt class="resource__prop-name">Pantone value:</dt>
    <dd class="resource__prop-value">{{resource.pantoneValue}}</dd>
    <dt class="resource__prop-name">Year:</dt>
    <dd class="resource__prop-value">{{resource.year}}</dd>
  </dl>
</div>
