<div class="user-edit">
  <form class="user-edit__form" [formGroup]="userForm" (submit)="submitForm()">
    <div class="field-group">
      <label class="field-group__label" for="first-name">First Name:</label>
      <input class="field-group__input" id="first-name" type="text" formControlName="firstName">
    </div>
    <div>
      <label class="field-group__label" for="last-name">Last Name:</label>
      <input class="field-group__input" id="last-name" type="text" formControlName="lastName">
    </div>
    <div>
      <label class="field-group__label" for="email">Email:</label>
      <input class="field-group__input" id="email" type="email" formControlName="email">
    </div>

    <button
      class="btn user-edit__cancel-btn"
      type="button"
      (click)="clickCancel($event)"
    >Cancel</button>
    <button class="btn user-edit__submit-btn" type="submit">Save</button>
  </form>
</div>
