.field-group {
  display: flex;
  align-items: center;
}

.field-group__label {
  width: 100px;
}

.field-group__input {
  padding-block: 10px;
  border-radius: 10px;
}

.user-edit__form {
  padding: 20px;
}

.user-edit__form .field-group {
  margin-bottom: 20px;
}

.user-edit__cancel-btn {
  margin-block-end: 20px;
}

@media (min-width: 768px) {
  .user-edit__buttons {
    display: flex;
  }

  .user-edit__cancel-btn {
    margin-block: 0;
    margin-inline-end: 20px;
  }
}
