<div>
  <a routerLink="/">Back to home page</a>
  <form [formGroup]="registerForm" (submit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <p *ngIf="email?.errors?.['required']">Email is required!</p>
        <p *ngIf="email?.errors?.['email']">Email is invalid!</p>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <p *ngIf="password?.errors?.['required']">Password is required!</p>
      </div>
    </div>
    <button type="submit">Login</button>
  </form>
</div>
