.home-page__title {
  margin: 0;
  margin-block: 40px;
  margin-inline: 40px 0;
}

@media (min-width: 768px) {
  .home-page__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
