html {
  height: 100%;
}

body {
  min-height: 100%;
  max-width: 1000px;
  padding: 0;
  margin: 0;
  margin-inline: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
